@{
    ViewData["Title"] = "Home Page";
}

<div class="hola">
			<div id="preloader">
				<span></span>
				<span></span>
			</div>
        </div>
		<!-- START NAVBAR -->
		<div id="header-sticky" class="small-menu mobile-menu ">
			<div class="container">
				<div class="row bbr-mb">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-8">
						<div class="logo">
							<a href="">
								<img src="img/logo/logo-white.png" alt="porri" />
							</a>
						</div>
					</div>
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-2">
						<div class="wrap_nav mainmenu text-right">
							<ul id="nav-13" class="menu">
								<li data-menuanchor="page1" class="active"><a href="#page1">home</a></li>
								<li data-menuanchor="page2"><a href="#page2">about</a></li>
								<li data-menuanchor="page3"><a href="#page3">service</a></li>
								<li data-menuanchor="page4"><a href="#page4">porfolio</a></li>
								<li data-menuanchor="page5"><a href="#page5">blog</a></li>
								<li data-menuanchor="page6"><a href="#page6">contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END NAVBAR -->
		<!-- START HOME -->
		<div id="pagepiling">
			<div class="section pp-scrollable" id="section1">
				<div class="banner-area hero-block">
					<div class="banner-active">
						<div class="banner-wrapper vh d-flex">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="myphoto">
											<img src="img/about-img2.png" alt="porri">
										</div>
									</div>
									<div class="col-md-6 text-left">
										<div class="banner_inner text-left">											
											<h3 class="text-gradient" id="personal">
												<span class="typewriter-wrapper">
												<span id="2sRCVJ3sE" class="typewriter-char typewriter-item-0">U</span>
												<span id="PIYMVDjg5" class="typewriter-char typewriter-item-1">I</span>
												<span id="9LopKcXqkCBA" class="typewriter-char typewriter-item-2">/</span>
												</span><span class="typewriter-cursor">|</span>
											</h3>
											<h1>Hello, I'm Romeo</h1>
											<p>Welcome to my professional website</p>
											<div class="home-all-button new-btn mt-3">
												<a href="#page2">About me</a>
											</div>
										</div>										
									</div> 
								</div>
							</div>
							<div class="animation-circle-inverse right">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section pp-scrollable bg-white" id="section2">
				<div class="section-two section-protfolio res-topp">
					<div class="container">
						<div class="row resume-bottom">
							<div class="col-lg-6">
								<div class="con-about">
									<img class="about-img" src="img/about.jpg" alt="">
								</div>
							</div>
							<div class="col-lg-5 offset-lg-1 mt-5">
								<div class="about-text">
									<h2>About Me</h2>						
									<p>
										Software Developer & IT Specialist with a Bachelor of Science in Computer Science and 7+ years of experience developing and
										maintaining software applications and integrated systems for enterprise companies and SMBs. Hands-on leader focused on building
										and deploying systems and processes to increase operational capabilities at the intersection of technology and business.
									</p>
									<ul class="about-info mt-4 px-md-0 px-2">
										<li class="d-flex"><span>Name :</span> <span>Romeo Adjam</span></li>
										<li class="d-flex"><span>Date of birth :</span> <span>February 22</span></li>
										<li class="d-flex"><span>Address :</span> <span>Centerton AR 72719 USA</span></li>
										<li class="d-flex"><span>Zip code :</span> <span>72719</span></li>
										<li class="d-flex"><span>Email :</span> <span>romeo.adjam@gmail.com</span></li>
										<li class="d-flex"><span>Phone : </span> <span>+1 774-800-2021</span></li>
									</ul>
									<div class="home-all-button new-btn mt-4">
										<a href="#page3">Service</a>
									</div>
								</div>
							</div>					
						</div>
						<div class="container mt-5">
							<div class="row">
								<div class="col-md-6">
									<div id="Education" class="resume-page resume-bottom">
										<h2 class="heading">Education</h2>
										<div class="resume-wrap d-flex ftco-animate fadeInUp ftco-animated">
											<div class="icon d-flex align-items-center justify-content-center">
												<i class="fa fa-graduation-cap"></i>
											</div>
											<div class="text pl-3">
												<span class="date">2021</span>
												<h2>Launchcode Javascript/Java Bootcamp</h2>
												<p>Launchcode is computer programming course with a focus on full-stack web development, covering highly demanded programming languages such as Java
												   and JavaScript.It is an intensive, 20-week program designed to train students with skills they need to seek an apprenticeship and ultimately a career
												   in technology. 
												</p>
											</div>
										</div>
										<div class="resume-wrap d-flex ftco-animate fadeInUp ftco-animated">
											<div class="icon d-flex align-items-center justify-content-center">
												<i class="fa fa-graduation-cap"></i>
											</div>
											<div class="text pl-3">
												<span class="date">2015</span>
												<h2>Bachelor of Science in Computer Sciences</h2>
												<p>Four year degree with focus on the study of computers and computational systems: their application, design, development and theory.
												   Topics covered were related to problems ranging from abstract questions of what problems can be solved with computers to practical matters
												   such as the design of computer systems that are efficient, secure, and easy for people to use.</p>
											</div>
										</div>
										<div class="resume-wrap d-flex ftco-animate fadeInUp ftco-animated">
											<div class="icon d-flex align-items-center justify-content-center">
												<i class="fa fa-graduation-cap"></i>
											</div>
											<div class="text pl-3">
												<span class="date">2012</span>
												<h2>Associate in Computer Sciences</h2>
												<p>
													Two year degree with a focus on becoming a computer scientist.Introduction to problem solving in principal areas within computer science.
													A broad but concised introduction to the fields of machine learning,data science, cybersecurity and privacy,programming languages,
													software engineering, computer systems and networking,algorithms and theory of computing,databases systems.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">	
									<div id="Experience" class="resume-page resume-bottom">
										<h2 class="heading">Experience</h2>
										<div class="resume-wrap d-flex ftco-animate fadeInUp ftco-animated">
											<div class="icon d-flex align-items-center justify-content-center">
												<i class="fa fa-briefcase"></i>
											</div>
											<div class="text pl-3">
												<span class="date">2015-2020</span>
												<h2>.NET Full Stack Developer</h2>
												<p>
													Developed,maintained software applications and integrated systems for enterprise companies.Most relevant experiences included : 
													Independently built API integration providing optical products data to customers.Maintaining and testing of the overall WPF C# Optical application.
													Developement,and support of a VB.NET Pharmacy app.
												</p>
											</div>
										</div>
										<div class="resume-wrap d-flex ftco-animate fadeInUp ftco-animated">
											<div class="icon d-flex align-items-center justify-content-center">
												<i class="fa fa-briefcase"></i>
											</div>
											<div class="text pl-3">
												<span class="date">2007-2015</span>
												<h2>E-commerce Entrepreneur</h2>
												<p>As an E-commerce Entrepreneur and owner of fitnesskraze.com, I assumed accountability for the risks and outcome of two e-commerce enterprises.
												   With my first project in 2007, I leveraged shopify to deliver refurbished IT equipments. My second project led me to an outstanding 
												   records sales of 100K in 2 months by leveraging the marketing tools of eBay.</p>
											</div>
										</div>
										<div class="resume-wrap d-flex ftco-animate fadeInUp ftco-animated">
											<div class="icon d-flex align-items-center justify-content-center">
												<i class="fa fa-briefcase"></i>
											</div>
											<div class="text pl-3">
												<span class="date">2007-2015</span>
												<h2>Team Leadership</h2>
												<p>In the retail industry,I oversaw all operations and increased sales/service income by 15% with a team of 600 FT/PT/seasonal staff and a $50MM budget 
												   for a store with $120MM AR and 8k daily customers.I also led operations of hard lines, home lines, and seasonal merchandise for a second store with 
												   up to 2,500 daily customers.
												</p>
											</div>
										</div>								
									</div>
								</div>
								<div class="col-md-6">
									<div id="Skills" class="resume-page ">
										<h2 class="heading">Awards</h2>
										<div class="row">							
											<div class="col-md-6 col-sm-6">
												<div class="counter-wrapper text-center with-margin">
													<div class="counter-icon">
														<i class="la la-user-friends"></i>
													</div>
													<div class="counter-text">
														<h2 class="counter">798</h2>
														<span>Happy Clients</span>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="counter-wrapper text-center with-margin">
													<div class="counter-icon">
														<i class="la la-edit"></i>
													</div>
													<div class="counter-text">
														<h2 class="counter">19</h2>
														<span>IT Projects</span>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-sm-6 ">
												<div class="counter-wrapper text-center">
													<div class="counter-icon">
														<i class="la la-award"></i>
													</div>
													<div class="counter-text">
														<h2 class="counter">4</h2>
														<span>Awards Won</span>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="counter-wrapper text-center ask-middle-2">
													<div class="counter-icon">
														<i class="la la-thumbs-up"></i>
													</div>
													<div class="counter-text">
														<h2 class="counter">645</h2>
														<span>Customers Satisfied</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div id="Skills" class="resume-page res-top-margin">
										<h2 class="heading">Skills</h2>
										<div class="col-md-12 animate-box">
											<div class="progress-wrap">
												<div class="skill-bar-content">
													<span class="skill-title">Wordpress</span>
												</div>
												<div class="bar1 barfiller">
													<div class="tipWrap">
														<span class="tip"></span>
													</div>
													<span class="fill progress-bg1" data-percentage="85"></span>
												</div>
											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="progress-wrap">
												<div class="skill-bar-content">
													<span class="skill-title">.NET Framework</span>
												</div>
												<div class="bar2 barfiller">
													<div class="tipWrap">
														<span class="tip"></span>
													</div>
													<span class="fill progress-bg1" data-percentage="90"></span>
												</div>
											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="progress-wrap">
												<div class="skill-bar-content">
													<span class="skill-title">Javascript</span>
												</div>
												<div class="bar3 barfiller">
													<div class="tipWrap">
														<span class="tip"></span>
													</div>
													<span class="fill progress-bg1" data-percentage="75"></span>
												</div>
											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="progress-wrap">
												<div class="skill-bar-content">
													<span class="skill-title">HTML5</span>
												</div>
												<div class="bar4 barfiller">
													<div class="tipWrap">
														<span class="tip"></span>
													</div>
													<span class="fill progress-bg1" data-percentage="80"></span>
												</div>
											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="progress-wrap">
												<div class="skill-bar-content">
													<span class="skill-title">Leadership</span>
												</div>
												<div class="bar5 barfiller">
													<div class="tipWrap">
														<span class="tip"></span>
													</div>
													<span class="fill progress-bg1" data-percentage="90"></span>
		
											</div>
											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="progress-wrap">
												<div class="skill-bar-content">
													<span class="skill-title">CSS3</span>
												</div>
												<div class="bar6 barfiller">
													<div class="tipWrap">
														<span class="tip"></span>
													</div>
													<span class="fill progress-bg1" data-percentage="80"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="section pp-scrollable bg-white" id="section3">
				<div class="service section-two section-service">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="section-tittle text-center">
									<div class="tittle-detail">
										<span class="text-gradient">Services</span>
										<h2>Top Categories</h2>
										<p>These are services where I was involved more than 50% of the time and may have completed some of these with a team</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-4">
								<div class="single-service-features box-border text-center">
									<div class="service-icon">	
										<i class="lab la-dochub"></i>
									</div>
									<div class="services-content">
										<h3>App Designer</h3>
										<p>Create professional apps in Visual Studio using visual components for the design of the GUI and quickly program the app behavior.
										</p>
									</div>
								</div>
							</div>						
							<div class="col-md-6 col-lg-4">
								<div class="single-service-features box-border text-center">
									<div class="service-icon">	
										<i class="las la-chart-bar"></i>
									</div>
									<div class="services-content">
										<h3>E-commerce Store</h3>
										<p>Leverage wordpress and shopify to design a fully functional ecommerce store with checkout functionnality and inventory management</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="single-service-features box-border text-center">
									<div class="service-icon">	
										<i class="lab la-hotjar"></i>
									</div>
									<div class="services-content">
										<h3>Leadership Development</h3>
										<p>Engage individuals with learning paths in effective communication , mentorship and listening skills with Toastmasters International </p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="single-service-features box-border text-center">
									<div class="service-icon">	
										<i class="las la-briefcase"></i>
									</div>
									<div class="services-content">
										<h3>Social Media Marketing</h3>
										<p>Improve click rate, grow following , and convert leads with proven techniques with messenger bot academy for facebook and Instagram </p>
									</div>
								</div>
							</div>						
							<div class="col-md-6 col-lg-4">
								<div class="single-service-features box-border text-center">
									<div class="service-icon">	
										<i class="las la-rocket"></i>
									</div>
									<div class="services-content">
										<h3>IT Solutions</h3>
										<p>Build IT solutions to improve corporate business processes, and make IT leaders successful by reducing amount of problems around legacy systems.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="single-service-features box-border text-center">
									<div class="service-icon">	
										<i class="lab la-chromecast"></i>
									</div>
									<div class="services-content">
										<h3>Blockchain Design</h3>
										<p>Explore Corda ecosystem using labs and use cases to develop smart contracts in Java/Javascript, guiding you through testing and deployement</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-10 offset-lg-1 mt-5 mb-30">
								<div class="section-dash-warp">
									<div class="dash-tittle text-center">
										<div class="video-holder">
											<a href="https://www.youtube.com/watch?v=cshU3H9Ws1U" class="video-btn" data-type="iframe">												
												<span class="video-btn-style margin-10px-right margin-15px-bottom">
													<i class="fa fa-play"></i>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="section pp-scrollable bg-white" id="section4">
				<div id="Portfolio" class="section-two section-protfolio">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="section-tittle text-center">
									<div class="tittle-detail">
										<span class="text-gradient">Portfolio</span>
										<h2>My Portfolio</h2>
										<p>Projects that I am currently working on as open source with code hosted in github. </p>
									</div>
								</div>
							</div>
						</div>
						<div class="grid filter custom ">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 grid-item cat1 cat3">						
									<div class="protfolio-wrapper mb-30">
										<div class="portfolio-hover">
											<img src="img/portfolio/01.jpg" alt="" />
										</div>
										<figcaption>
											<i class="las la-arrows-alt"></i>
											<h2><a href="#">Open Source</a></h2>
										</figcaption>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 grid-item cat2 cat4">
									<div class="protfolio-wrapper mb-30">
										<div class="portfolio-hover">
											<img src="img/portfolio/02.jpg" alt="" />
										</div>
										<figcaption>
											<i class="las la-arrows-alt"></i>
											<h2><a href="#">Open Source</a></h2>
										</figcaption>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 grid-item cat4 cat1">
									<div class="protfolio-wrapper mb-30">
										<div class="portfolio-hover">
											<img src="img/portfolio/03.jpg" alt="" />
										</div>
										<figcaption>
											<i class="las la-arrows-alt"></i>
											<h2><a href="#">Open Source</a></h2>
										</figcaption>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 grid-item cat4 cat1">
									<div class="protfolio-wrapper mb-30">
										<div class="portfolio-hover">
											<img src="img/portfolio/04.jpg" alt="" />
										</div>
										<figcaption>
											<i class="las la-arrows-alt"></i>
											<h2><a href="#">Open Source</a></h2>
										</figcaption>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 grid-item cat2 cat4">
									<div class="protfolio-wrapper mb-30">
										<div class="portfolio-hover">
											<img src="img/portfolio/08.jpg" alt="" />
										</div>
										<figcaption>
											<i class="las la-arrows-alt"></i>
											<h2><a href="#">Open Source</a></h2>
										</figcaption>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 grid-item cat2 cat4">
									<div class="protfolio-wrapper mb-30">
										<div class="portfolio-hover">
											<img src="img/portfolio/06.jpg" alt="" />
										</div>
										<figcaption>
											<i class="las la-arrows-alt"></i>
											<h2><a href="#">Open Source</a></h2>
										</figcaption>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 grid-item cat2 cat4">
									<div class="protfolio-wrapper mb-30">
										<div class="portfolio-hover">
											<img src="img/portfolio/07.jpg" alt="" />
										</div>
										<figcaption>
											<i class="las la-arrows-alt"></i>
											<h2><a href="#">Open Source</a></h2>
										</figcaption>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 grid-item cat2 cat4">
									<div class="protfolio-wrapper mb-30">
										<div class="portfolio-hover">
											<img src="img/portfolio/05.jpg" alt="" />
										</div>
										<figcaption>
											<i class="las la-arrows-alt"></i>
											<h2><a href="#">Open Source</a></h2>
										</figcaption>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 grid-item cat2 cat4">
									<div class="protfolio-wrapper mb-30">
										<div class="portfolio-hover">
											<img src="img/portfolio/09.jpg" alt="" />
										</div>
										<figcaption>
											<i class="las la-arrows-alt"></i>
											<h2><a href="#">Open Source</a></h2>
										</figcaption>
									</div>
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
			<div class="section pp-scrollable bg-white" id="section5">
				<div id="blog" class="section-two section-blog">
					<div class="container">
						<div class="blog-area">
							<div class="row">
								<div class="col-md-12">
									<div class="section-tittle text-center">
										<div class="tittle-detail">
											<span class="text-gradient">blogs</span>
											<h2>Latest Posts</h2>
											<p>Enjoy my latest blogs and comment at will as soon as I make this feature dynamic in the upcoming months </p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="new-blog-builder res-bottom">
										<div class="blog-wrapper-image">
											<img src="img/blog/1.jpg">
										</div>
										<div class="grid-content"> 
											<div class="meta-wrap">																		
												<h2 class="post-title-builder">
													<a href="#">Top 5 Programming Languages to learn in 2021</a>
												</h2>
												<p>If you are new to programming and don’t know where to start this article is just for you</p>
												<span class="bp-padd">
													</span>
												<span>
													<i class="las la-user"></i>
													<a href="#" title="Posts by admin" rel="author">by admin</a>
												</span>
											</div>                    
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="new-blog-builder res-bottom">
										<div class="blog-wrapper-image">
											<img src="img/blog/6.jpg">
										</div>
										<div class="grid-content"> 
											<div class="meta-wrap">													
												<h2 class="post-title-builder">
													<a href="#">GitHub Metrics</a>
												</h2>
												<p>Customize your profile with various plugins and metrics</p>
												<span class="bp-padd">
													<i class="las la-folder-open"></i>
													<a href="#">Blog ,</a>
													<a href="#">Tech</a>
												</span>
												<span>
													<i class="las la-user"></i>
													<a href="#" title="Posts by admin" rel="author">by admin</a>
												</span>											
											</div>                    
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="new-blog-builder res-bottom">
										<div class="blog-wrapper-image">
											<img src="img/blog/4.jpg">
										</div>
										<div class="grid-content"> 
											<div class="meta-wrap">													
												<h2 class="post-title-builder">
													<a href="#">Top 5 Web Design Trends in 2021</a>
												</h2>
												<p>What are the 5 web design trends that going to play important role in this year</p>
												<span class="bp-padd">
													<i class="las la-folder-open"></i>
													<a href="#">Blog ,</a>
													<a href="#">Tech</a>
												</span>
												<span>
													<i class="las la-user"></i>
													<a href="#" title="Posts by admin" rel="author">by admin</a>
												</span>											
											</div>                    
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="new-blog-builder res-bottom">
										<div class="blog-wrapper-image">
											<img src="img/blog/5.jpg">
										</div>
										<div class="grid-content"> 
											<div class="meta-wrap">												
												<h2 class="post-title-builder">
													<a href="#">5 things I wish I knew as a Software Engineer</a>
												</h2>
												<p>We are going to dive into the five key traits that I knew nothing about as a software engineer</p>
												<span class="bp-padd">
													<i class="las la-folder-open"></i>
													<a href="#">Blog ,</a>
													<a href="#">Tech</a>
												</span>
												<span>
													<i class="las la-user"></i>
													<a href="#" title="Posts by admin" rel="author">by admin</a>
												</span>												
											</div>                    
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="new-blog-builder res-bottom">
										<div class="blog-wrapper-image">
											<img src="img/blog/2.jpg">
										</div>
										<div class="grid-content"> 
											<div class="meta-wrap">												
												<h2 class="post-title-builder">
													<a href="#">Time Management and Productivity Tools for Developers</a>
												</h2>
												<p>Don't you love the rush of dopamine when you check off a task on a to-do list?</p>
												<span class="bp-padd">
													<i class="las la-folder-open"></i>
													<a href="#">Blog ,</a>
													<a href="#">Tech</a>
												</span>
												<span>
													<i class="las la-user"></i>
													<a href="#" title="Posts by admin" rel="author">by admin</a>
												</span>												
											</div>                    
										</div>
									</div>
								</div>
							</div>		
						</div>		
					</div>		
				</div>
			</div>
			<div class="section pp-scrollable bg-white" id="section6">
				<div id="contact" class="section-two section-contact">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="section-tittle text-center">
									<div class="tittle-detail">
										<span class="text-gradient">contact</span>
										<h2>Personal Info</h2>
										<p>I am always looking to forge new relationships.Let's connect !!</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col-xl-3 col-md-3">
								<div class="detail-share mll-bottom">
									<div>
										<i class="la la-phone-volume"></i>
									</div>
									<div class="contact-title">
										<h5>Call Me here</h5>
										<p>+1 774-800-2021</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-3">	
								<div class="detail-share mll-bottom">
									<div>
									   <i class="la la-map-marker-alt"></i>
									</div>
									<div class="contact-title">
										<h5>Visit my Office</h5>
										<p>Centerton , AR , USA.</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-3">
								<div class="detail-share mll-bottom">
									<div>
										<i class="la la-envelope"></i>
									</div>
									<div class="contact-title">
										<h5>Email me At</h5>
										<p>romeo.adjam@gmail.com</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-3">
								<div class="detail-share mll-bottom">
									<div>
										<i class="las la-globe"></i>
									</div>
									<div class="contact-title">
										<h5>Website</h5>
										<p>https://adjamromeo.com</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row resume-bottom">
							<div class="col-md-6">
								<div class="map-warp">
									<!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1825.7529629112532!2d90.38888959995522!3d23.76499199779321!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c75f2944fbf1%3A0xc2b073b23f015fea!2sElenbari+Jame+Masjid!5e0!3m2!1sen!2sbd!4v1549536484950" frameborder="0" allowfullscreen=""></iframe>-->
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51417.52878763234!2d-94.333422402056!3d36.34635097448282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c90588042ed2f7%3A0x5d7beb5eb2b33ca1!2sCenterton%2C%20AR!5e0!3m2!1sen!2sus!4v1608188010059!5m2!1sen!2sus" frameborder="0"  allowfullscreen=""></iframe>
									<!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ99IuBIgFyYcRoTyzsl7re10&key=AIzaSyDC7h80qSVHB1IWYaXbNV1kQm4hvOkljPY" allowfullscreen></iframe>-->
								</div>
							</div>
							<div class="col-md-6 ask-middle">
								<div class="comment-respond">
									<form class="clearfix">
										<div class="col col-xs-12">
											<textarea class="form-control" placeholder="write.."></textarea>
										</div>
										<div class="col col-md-6">
											<input type="text" class="form-control" placeholder="First Name..">
										</div>
										<div class="col col-md-6">
											<input type="text" class="form-control" placeholder="Last Name..">
										</div>
										<div class="col col-xs-12">
											<input type="email" class="form-control" placeholder="Email Address..">
										</div>
										<div class="col col-xs-12 submit-btn">
											<button type="submit">Send Message</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="footer-warp">
									<div class="footer-info-wrapper">
										<!--img class="footer-logo" src="img/logo/logo-black.png" alt="porri">-->
										<div class="social-icon">
											<!--a class="bg-blue" href="#"><i class="fa fa-facebook"></i></a-->
											<a class="bg-gray" href="#"><i class="fa fa-twitter"></i></a>
											<a class="bg-red" href="#"><i class="fa fa-google"></i></a>
											<a class="bg-orange" href="#"><i class="fa fa-instagram"></i></a>
											<!--a class="bg-red2" href="#"><i class="fa fa-pinterest"></i></a-->
											<!--a class="bg-green" href="#"><i class="fa fa-dribbble"></i></a-->
										</div>
										<div class="copyright-1">
											Copyright ©2023 <a href="https://github.com/sodangbe">Romeo Adjam.</a> All Rights Reserved.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>										

					
		
		
		
		
		

